<html>
    <head>
       <meta http-equiv="Cache-control" content="no-cache">
       <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
       <META HTTP-EQUIV="Expires" CONTENT="-1">
    </head>
<body>
    <style type="text/css">
#wrap {
   width:100%;
   margin:0 auto;
   margin-left: 200px;
}
#left_col {
   float:left;
   width:200px;
   margin-left: -200px;
}
#right_col {
   float:right;
   width:100%;
}
</style>

<div id="wrap">
    <div id="left_col">
        <h3>Results:</h3>
        <p><textarea rows="50" cols="20" >{{ display }}</textarea>
        </p>
        <p><form><input type="button" value="Voltar" onClick="history.go(-1)"></form></p>
    </div>
    <div id="right_col">
	<h3>Result tree:</h3>
	<figure>
	  <img src="/static/last_tree.svg?{{figure}}" alt="Last tree">
	</figure>
    </div>
</div>
</body>
</html>
