<html>
    <head>

        <style type="text/css">
                div#content {
                    display: block;
                    }

                div#loading {
                    top: 200 px;
                    margin: auto;
                    position: absolute;
                    z-index: 1000;
                    width: 160px;		    
                    height: 24px;
		    display: none;
                    background: url(/static/ajax-loader.gif) no-repeat;
		    background-size: 100%;
		    background-position:center center;
                    cursor: wait;
                    }
        </style>

	<script type="text/javascript">// <![CDATA[
        function disp_loading(){
            document.getElementById("loading").style.display = "block";
            document.getElementById("content").style.display = "none";
        }
//        window.onload = disp_loading;
 // ]]></script>

    </head>
    <body>
	<div id="loading">
		<h3> Wait processing... </h3>
	</div>
        <div id="content">
		<H1> Damicore entry point </H1>
		<p> Submit the input folder </br>
		<p>
		<form action="." method="POST">
		        <input type="text" name="folder" placeholder="Type the folder name"></br></br><strong>Options:</strong></br>
			<input type="checkbox" name="normalize-matrix" value="--normalize-matrix"> Normalize matrix before simplification </br>
			<input type="checkbox" name="normalize-weights" value="--normalize-weights" checked > Normalize tree edge weights before clustering (recommended) </br></br>
		        <input type="submit" name="folder_submit" value="Submit" onclick="disp_loading();">&nbsp;::: Please wait until processing is completed! It can take too long depending on the size of the files.
	<form>
		</p>
		<p><strong>Folders:</strong> {{ folders }}</p>
	</div>
    </body>
</html>
